<p id="notice"><%= notice %></p>

<p>
  <strong>Start time:</strong>
  <%= @priority.start_time %>
</p>

<p>
  <strong>Pvalue:</strong>
  <%= @priority.pvalue %>
</p>

<%= link_to 'Edit', edit_priority_path(@priority) %> |
<%= link_to 'Back', priorities_path %>
